# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
SuperMarioBros.nes
*.swp
romTest
*.swo
Legend of Zelda, The (U) (PRG1) [!].nes Street Fighter IV (Unl).nes Super Mario Bros. (JU) [!].nes
LegendOfZelda.nes
StreetFighterIV.nes
SuperMarioBros.nes
